PORT=3011

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_STORAGE_REGION=auto
S3_STORAGE_ENDPOINT=https://s3.veer.kr
S3_STORAGE_BUCKET=mws
S3_PUBLIC_ENDPOINT=https://s3.veer.kr/mws

TEMPLATE_WORKER_BLENDER_BIN=blender
TEMPLATE_WORKER_GLTF_TRANSFORM_BIN=gltf-transform
